<p id="notice"><%= notice %></p>

<p>
  <strong>deity:</strong>
  <%= @power.deity_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @power.name %>
</p>

<p>
  <strong>Effect:</strong>
  <%= @power.effect %>
</p>

<%= link_to 'Edit', edit_power_path(@power) %> |
<%= link_to 'Back', powers_path %>
