<p id="notice"><%= notice %></p>

<h1>Deities</h1>

<!-- <table class="table table-hover">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Message</th>
    </tr>
  </thead>

  <tbody>
    <% @deities.each do |deity| %>
      <tr>
        <td>
          <% if deity.profilepic.file == nil %>
          no pic
          <% else %>
          <%= image_tag deity.profilepic.url %>
          <% end %>
        </td>
        <td><%= deity.name %></td>
        <td><%= deity.description %></td>
        <td>message here</td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<div class="row">
  <% @deities.each do |deity| %>
    <%= render partial: "card", locals: {deity: deity} %>
  <% end %>
</div>


