<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @actor.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @actor.description %>
</p>

<p>
  <strong>Race:</strong>
  <%= @actor.race_id %>
</p>

<p>
  <strong>Might:</strong>
  <%= @actor.might %>
</p>

<p>
  <strong>Will:</strong>
  <%= @actor.will %>
</p>

<p>
  <strong>Cunning:</strong>
  <%= @actor.cunning %>
</p>

<p>
  <strong>Subtlety:</strong>
  <%= @actor.subtlety %>
</p>

<p>
  <strong>Perception:</strong>
  <%= @actor.perception %>
</p>

<p>
  <strong>Sagacity:</strong>
  <%= @actor.sagacity %>
</p>

<p>
  <strong>Province:</strong>
  <%= @actor.province_id %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @actor.organization_id %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @actor.scale %>
</p>

<p>
  <strong>Count:</strong>
  <%= @actor.count %>
</p>

<p>
  <strong>Personality:</strong>
  <%= @actor.personality %>
</p>

<p>
  <strong>Mood:</strong>
  <%= @actor.mood %>
</p>

<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
