<%= form_for(@border) do |f| %>
  <% if @border.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@border.errors.count, "error") %> prohibited this border from being saved:</h2>

      <ul>
      <% @border.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :province_id %><br>
    <%= f.number_field :province_id %>
  </div>
  <div class="field">
    <%= f.label :neighbor_id %><br>
    <%= f.number_field :neighbor_id %>
  </div>
  <div class="field">
    <%= f.label :defense %><br>
    <%= f.number_field :defense %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
