<%= form_for(@conversation) do |f| %>
  <% if @conversation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conversation.errors.count, "error") %> prohibited this conversation from being saved:</h2>

      <ul>
      <% @conversation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% User.all.each do |user| %>
    <% if user != current_user %>
    <span style="border: 2px solid black; padding: 5px; margin: 2px;">
      <%= f.fields_for :user do |f_usr| %>
        <%= f_usr.check_box user.username, class: "users-check", checked: false %>
        <%= f_usr.label user.username %>
      <% end %>
    </span>
    <% end %>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
