<p id="notice"><%= notice %></p>

<h1>Your Conversations</h1>

<!-- <table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conversations.each do |conversation| %>
      <tr>
        <td><%= link_to 'Show', conversation %></td>
        <td><%= link_to 'Edit', edit_conversation_path(conversation) %></td>
        <td><%= link_to 'Destroy', conversation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
 -->
<row>
<% if current_user.access == 3 %>
  <% Conversation.all.each do |conversation| %>
    <%= render partial: "conversation_tab", locals {conversation: conversation} %>
  <% end %>
<% else %>
  <% current_user.conversations.each do |conversation| %>
    <%= render partial: "conversation_tab", locals: {conversation: conversation} %>
  <% end %>
<% end %>
</row>
<%= link_to 'New Conversation', new_conversation_path %>
