<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @race.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @race.description %>
</p>

<p>
  <strong>Longevity:</strong>
  <%= @race.longevity %>
</p>

<p>
  <strong>Fecundity:</strong>
  <%= @race.fecundity %>
</p>

<p>
  <strong>Might:</strong>
  <%= @race.might %>
</p>

<p>
  <strong>Will:</strong>
  <%= @race.will %>
</p>

<p>
  <strong>Cunning:</strong>
  <%= @race.cunning %>
</p>

<p>
  <strong>Sutlety:</strong>
  <%= @race.sutlety %>
</p>

<p>
  <strong>Perception:</strong>
  <%= @race.perception %>
</p>

<p>
  <strong>Sagacity:</strong>
  <%= @race.sagacity %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @race.scale %>
</p>

<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
