<p id="notice"><%= notice %></p>

<p>
  <strong>Myth pic:</strong>
  <%= image_tag @myth.myth_pic, height: '400p', margin: 'auto' %>
</p>

<p>
  <strong>Title:</strong>
  <%= @myth.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @myth.content %>
</p>

<%= link_to 'Edit', edit_myth_path(@myth) %> |
<%= link_to 'Back', myths_path %>
