<script src="https://cdn.ckeditor.com/4.6.2/full/ckeditor.js"></script>

<p id="notice"><%= notice %></p>

<div class="row">
	
	<div class="col s4 myth-info">
  		<%= image_tag @myth.myth_pic, width: '100%', margin: 'auto' %>
	</div>

	<div class="col s8 myth-content">
		<h3 class="center">		  
		  <%= @myth.title %>
		</h3>
		<% if @myth.user_access > 0 || current_user.access == 3 %>
			<div class='btn btn-success' id='savebtn' disabled='true'>Save Myth</div>
			<div class='btn btn-success' id='editbtn'>Edit Myth</div>
			<textarea name="myth_editor" id="myth_editor">
			  <%= @myth.content %>
			</textarea>
			<div id="myth-view">
				<%=raw@myth.content %>
			</div>
		<% else %>
			  <%= raw@myth.content %>
		<% end %>
	</div>

</row>

<% if @myth.user_access > 0 || current_user.access == 3 %>
	
	<script>
		$(document).on('turbolinks:load', function(){

			$("#myth_editor").hide()

			$("#myth_editor").on( 'change', function() {
				document.getElementById( 'savebtn' ).removeAttribute('disabled');
				// console.log(document.getElementById('savebtn'))
				//alert('changed')
			})

			$('#editbtn').click(function(){
				$('#myth_editor').show()
				$('#myth-view').hide()

			})

			$("#savebtn").click(function() {
				var data = { txt: $("#myth_editor").val() };
				$.ajax({
					url: "/myths/<%= @myth.id %>",
					method: "PUT",
					data: data
				})
				.done(function() {
					document.getElementById( 'savebtn' ).setAttribute("disabled", "true")
				})
			});
		})
	</script>

<% end %>

<script>

	$(document).on('turbolinks:load', function(){
		autosize($('textarea'));
	});

</script>
