<p id="notice"><%= notice %></p>

<h1>Listing User Conversations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Conversation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_conversations.each do |user_conversation| %>
      <tr>
        <td><%= user_conversation.user_id %></td>
        <td><%= user_conversation.conversation_id %></td>
        <td><%= link_to 'Show', user_conversation %></td>
        <td><%= link_to 'Edit', edit_user_conversation_path(user_conversation) %></td>
        <td><%= link_to 'Destroy', user_conversation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User conversation', new_user_conversation_path %>
