<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_conversation.user_id %>
</p>

<p>
  <strong>Conversation:</strong>
  <%= @user_conversation.conversation_id %>
</p>

<%= link_to 'Edit', edit_user_conversation_path(@user_conversation) %> |
<%= link_to 'Back', user_conversations_path %>
