<td><%= @lpost.user.username %></td>
<td><%= @lpost.title %></td>
<% if @lpost.content.length > 100
	digest = @lpost.content[0..99] + "..."
else
	digest = @lpost.content
end %>
<td><%= digest %></td>
<td><%= @lpost.response_ct_survey - 1 %></td>
<td><%= @lpost.response_dt_survey %></td>
<td><%= @lpost.created_at %></td>


