<%= form_for(@province) do |f| %>
  <% if @province.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@province.errors.count, "error") %> prohibited this province from being saved:</h2>

      <ul>
      <% @province.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :base_dev %><br>
    <%= f.number_field :base_dev %>
  </div>
  <div class="field">
    <%= f.label :is_empyreal %><br>
    <%= f.number_field :is_empyreal %>
  </div>
  <div class="field">
    <%= f.label :kingdom_id %><br>
    <%= f.number_field :kingdom_id %>
  </div>
  <div class="field">
    <%= f.label :primary_terrain_id %><br>
    <%= f.number_field :primary_terrain_id %>
  </div>
  <div class="field">
    <%= f.label :secondary_terrain_id %><br>
    <%= f.number_field :secondary_terrain_id %>
  </div>
  <div class="field">
    <%= f.label :region_id %><br>
    <%= f.number_field :region_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
