<%= form_for(@population) do |f| %>
  <% if @population.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@population.errors.count, "error") %> prohibited this population from being saved:</h2>

      <ul>
      <% @population.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :province_id %><br>
    <%= f.number_field :province_id %>
  </div>
  <div class="field">
    <%= f.label :race_id %><br>
    <%= f.number_field :race_id %>
  </div>
  <div class="field">
    <%= f.label :piety %><br>
    <%= f.text_field :piety %>
  </div>
  <div class="field">
    <%= f.label :count %><br>
    <%= f.number_field :count %>
  </div>
  <div class="field">
    <%= f.label :loyalty %><br>
    <%= f.number_field :loyalty %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
