<nav>
	<div class="nav-wrapper blue">
		<% if current_user %>
 			Signed in as <%= current_user.username %> | <%= link_to "Logout", '/logout' %>
		<% else %>
 			<%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
		<% end %>
		<ul class="right hide-on-med-and-down">
			<li id='link-map'><a class="waves-effect waves-light btn"href="/maps">Map</a></li>
			<li id='link-messages'>
				<a class="waves-effect waves-light btn" href="/conversations">
					Messages
					<% if current_user %>
						<% m = 0 %>
					 	<% Conversation.all.each do |c| %>
					 		<% if UserConversation.where(user: current_user, conversation: c) != [] %>
					 			<%m += c.check_status%>
					 		<% end %>
					 	<% end %>
					 	<% if m > 0 %>
						 	<span class="new badge">
						 		<%= m %>
						 	</span>
						<% end %>
					<% end %>
				</a>
			</li>
			<li id='link-forum'><a class="waves-effect waves-light btn"href="/posts">Forum</a></li>
			<li id='link-deities'><a class="waves-effect waves-light btn"href="/deities">Deities</a></li>
	<!-- 		<li id='link-profile'><a class="waves-effect waves-light btn"href="#">World Info</a></li> -->
		</ul>
		<a href="#" data-activates="compressed-nav" class="button-collapse right"><i class="material-icons">menu</i></a>
		<ul class="side-nav" id="compressed-nav">
			<li><a href="/maps">Map</a></li>
			<li>
				<a href="/conversations">
					Messages
					<% if m %>
							<%= " - #{m} new"  %>
					<% end %>
				</a>
			</li>
			<li><a href="/posts">Forum</a></li>
			<li><a href="/deities">Deities</a></li>
<!-- 			<li><a href="#">World Info</a></li> -->
		</ul>
	</div>
</nav>



